API_URL = "http://localhost/"
API_PORT = "3001"
GITHUB_AUTH_CLIENT_SECRET = "secret"
GITHUB_AUTH_CALLBACK_URL = "http://localhost:8080/auth/github"
GITHUB_AUTH_CLIENT_ID = "client_id"
SOCKET_PORT = 3002
SOCKET_ADMIN_PORT = 3003
ORG_NAME = "mosaiq-software"
DATABASE_PATH = "./database.sqlite"
DATABASE_LOGGING = "false"
FRONTEND_URL = "http://localhost:8080"